{% extends 'base.html' %} {% block content %}
<i action="action" onclick="window.history.go(-1); return false;" class="col-md-5 mb-10 mt-2 left  fa fa-angle-left " style="color: white; font-size:36px; margin-left: 5%; cursor: pointer;"></i>
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
      </div>
    </div>
    
  </div>
</div>

{% endblock content %}