{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card my-4">
            <div class="card-body">
              <h2 class="card-title">Post question</h2>
              <form method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="{{ form.title.id_for_label }}">Title</label>
                  {{ form.title|add_class:"form-control"|attr:"placeholder:Enter your title" }}
                </div>
                <div class="form-group">
                  <label for="{{ form.content.id_for_label }}">Content</label>
                  {{ form.content|add_class:"form-control"|attr:"placeholder:Type your answer here" }}
                </div>
                <a href="{% url 'create_question' %}?next={{ request.path }}"><button type="submit" class="btn btn-primary">Submit</button></a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

{%endblock%}

